* {
  box-sizing: border-box;
  color: black;
}

.App {
  float: none;
}

header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 2em;
}

.logo {
  width: 10rem;
}
