* {
  box-sizing: border-box;
  color: black;
}

.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: 0 15%;
  justify-content: center;
}

.card {
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: solid black 3px;
  border-radius: 3%;
  width: 31%;
  height: 400px;
  margin: 1%;
}

.card .image-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 60%;
  margin: 0 10%;
}

.card .pokemon-image {
  height: 100%;
  width: 80%;
}
